<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vuejs Store</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body>
    <div class="nav-bar"></div>

    <div id="app">
      <div class="product">
        <div class="product-image">
          <!-- Binding src using v-bind -->
          <img v-bind:src="image" alt="socks" />
        </div>
        <div class="product-info">
          <h1>{{ product }}</h1>

          <!-- Conditional rendering using v-if -->
          <p v-if="inStock">In Stock</p>
          <p v-else>Out of Stock</p>
          <p v-if="onSale && inStock">On Sale!</p>

          <!-- List Rendering using v-for/ showing product details -->
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
          <ul class="sizes">
              <li v-for="size in sizes"> {{ size }} </li>
          </ul>

          <!-- list rendering / showing product variants
            it's recommended to use key attribute when dealing with kinds of lists to let vue keeps track of the identies -->

          <div v-for=" variant in variants" :key="variant.variantId">
            <p>{{ variant.variantColor }}</p>
          </div>
          
          </div>
        </div>
      </div>
    </div>

    <!-- Adding VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
